// ========================================
// footer
// ========================================
footer {
	background-color: $black-second;
	padding-top: 30px;
}
.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__img-holder {
	width: 45%;
	height: 440px;
	@include phone {
		display: none;
	}
}
.footer__image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.footer__info {
	width: 45%;
	display: flex;
	color: $white;
	align-items: flex-start;
	@include tablet {
		width: 53%;
	}
	@include phone {
		width: 100%;
		flex-direction: column-reverse;
	}
}
.footer__contact {
	width: 53%;
	@include phone {
		width: 100%;
	}
}
.footer__row {
	margin-bottom: 15px;
}
.footer__subheading {
	font-weight: 300;
	font-size: 22px;
	line-height: 33px;
	text-transform: uppercase;
	@include tablet {
		font-size: 20px;
		line-height: 30px;
	}
}
.footer__icons {
	display: flex;
	width: 100%;
}
.footer__icon {
	width: 35px;
	height: 35px;
	margin-right: 15px;
	&:hover {
		.footer__icon-img {
			opacity: 0.7;
		}
	}
	@include tablet {
		width: 30px;
		height: 30px;
	}
}
.footer__icon-img {
	width: 100%;
	transition: 0.2s ease-in-out;
}
.footer__link {
	color: $primary-light;
	text-decoration: underline;
	font-size: 18px;
	line-height: 27px;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $beige-light;
	}
}
.footer__adress {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
}

.footer__logo-holder {
	width: 47%;
	display: flex;
}
.footer__logo-link {
	margin-left: auto;
	@include phone {
		margin-left: inherit;
	}
}
.footer__logo {
	height: 100px;
}
.footer__bottom {
	height: 60px;
	border-top: 1px solid $white;
	color: $white;
	@include tablet {
		height: 50px;
	}
	@include phone {
		height: 45px;
	}
}
.footer__wrap {
	height: 100%;
	display: flex;
}
.footer__span {
	align-self: center;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	@include phone {
		font-size: 16px;
	}
}
