// ========================================
// header
// ========================================
.header {
	position: fixed;
	background-color: $transparent;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	transition: $transition-primary;
	@include tablet-down {
		position: absolute;
	}
}
.header--light {
	&.header--active {
		background: linear-gradient(180deg, #fff8ef 0%, #be8849 120%);
	}
	.nav {
		@include tablet-down {
			background-color: $primary-light;
		}
	}
	.nav__btn {
		color: $primary-dark;
	}
	.header__icon {
		background-color: $primary-dark;
		&::before,
		&::after {
			background-color: $primary-dark;
		}
	}
	.header__logo--dark {
		display: block;
	}
	.header__logo--light {
		display: none;
	}
}
.header--active {
	background: $gradient-dark-top;
	padding: 0;
	.header__img {
		width: 70px;
	}
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	z-index: 10;
}
.header__img {
	width: 100px;
	transition: $transition-primary;
}

.header__logo--dark {
	display: none;
}
.header__menu {
	width: 40px;
	height: 30px;
	z-index: 10;
	@include desktop {
		display: none;
	}
}
.header__menu--active {
	.header__icon {
		transform: translateX(-50%);
		background: transparent;
		&::before {
			transform: rotate(45deg) translate(10px, -10px);
		}
		&::after {
			transform: rotate(-45deg) translate(10px, 10px);
		}
	}
}
.header__icon {
	width: 100%;
	height: 2px;
	background-color: $white;
	display: block;
	position: relative;
	transition: $transition-primary;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $white;
		transform: translateY(-10px);
		transition: $transition-primary;
	}
	&::after {
		content: '';
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		background-color: $white;
		transform: translateY(10px);
		transition: $transition-primary;
	}
}
.header__img {
	height: 100%;
}
.nav {
	z-index: 1;
	@include tablet-down {
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		transition: $transition-primary;
		background-color: $primary-dark;
	}
}
.nav--active {
	opacity: 1;
	visibility: visible;
	right: 0;
	.nav__item {
		margin-left: 0;
	}
}
.nav__list {
	display: flex;
	justify-content: space-between;
	@include tablet-down {
		flex-direction: column;
		margin-top: 200px;
		width: 100%;
		text-align: center;
	}
}
.nav__item {
	margin-left: 30px;
	@include tablet-down {
		margin-bottom: 30px;
	}
}
.nav__btn {
	font-size: 16px;
	line-height: 18px;
	color: $white;
	transition: 0.2s ease-in-out;
	@include hover {
		color: $beige-light;
	}
	@include tablet-down {
		font-size: 30px;
	}
}
