// ========================================
// variables
// ========================================

$default-font: 'Poppins', sans-serif;

$white: #ffffff;
$black: #000000;
$black-second: #100f0f;
$beige-light: #d6a369;
$beige-dark: #795c3c;

$primary-dark: #2d2b2b;
$primary-light: #fcf7f2;
$transparent: transparent;

$gradient-dark-top: linear-gradient(180deg, #2d2b2b 40%, #be8849 200%);
$gradient-dark-bottom: linear-gradient(180deg, #be8849 -110%, #2d2b2b 70%);
$gradient-light-top: linear-gradient(180deg, #fff8ef 30%, #be8849 100%);
$gradient-light-bottom: linear-gradient(180deg, #be8849 0%, #fff8ef 70%);

$transition-primary: 0.2s ease-in-out;
