.about {
	padding: 100px 0;
	background: $gradient-dark-top;
	@include tablet {
		padding: 80px 0;
	}
	@include phone {
		padding: 40px 0;
	}
}
.about__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include phone {
		flex-direction: column;
	}
}
.about__holder {
	width: 47%;
	@include phone {
		width: 100%;
		margin-bottom: 20px;
	}
}
.about__heading {
	color: $white;
	font-weight: 300;
	font-size: 50px;
	line-height: 57px;
	letter-spacing: 0em;
	margin-bottom: 20px;
	padding: 0 25px;
	text-align: center;
	position: relative;
	width: fit-content;
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 0;
		background-color: $primary-light;
		bottom: 0;
		left: 50%;
		transition: $transition-primary;
		border-radius: 5px;
	}
	&:hover {
		color: $primary-light;
		&::after {
			left: 0;
			width: 100%;
		}
	}
	@include tablet {
		font-size: 40px;
		line-height: 46px;
	}
	@include phone {
		font-size: 32px;
		line-height: 37px;
	}
}
.about__text {
	font-weight: 300;
	font-size: 20px;
	line-height: 129%;
	color: $white;
	@include tablet {
		font-size: 17px;
		line-height: 22px;
	}
	@include phone {
		font-size: 16px;
		line-height: 21px;
	}
}
.about__img-holder {
	width: 47%;
	@include phone {
		width: 100%;
	}
}
.about__image {
	width: 100%;
	height: 458px;
	object-fit: cover;
	@include tablet-down {
		height: 330px;
	}
}
