<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="" /> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
		<link rel="icon" type="image/x-icon" href="./assets/logo.ico" />
		<title>Dusko Design</title>
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	</head>
	<body>
		<header class="header js-header">
			<div class="wrap">
				<div class="header__container">
					<a href="javascript:;" class="header__logo header__logo--light">
						<img class="header__img" src="assets/logo-white.png" alt="logo" />
					</a>
					<a href="javascript:;" class="header__logo header__logo--dark">
						<img class="header__img" src="assets/logo.png" alt="logo" />
					</a>
					<button class="header__menu js-menu">
						<span class="header__icon"></span>
						<span class="sr-only">Hamburger</span>
					</button>
					<nav class="nav js-nav">
						<ul class="nav__list">
							<li class="nav__item">
								<a href="javascript:;" class="nav__btn js-link" data-nav-for="1">Početak</a>
							</li>
							<li class="nav__item">
								<a href="javascript:;" class="nav__btn js-link" data-nav-for="2">O nama</a>
							</li>
							<li class="nav__item">
								<a href="javascript:;" class="nav__btn js-link" data-nav-for="3">Proizvodi</a>
							</li>
							<li class="nav__item">
								<a href="javascript:;" class="nav__btn js-link" data-nav-for="4">Kontakt</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<main class="main js-main">
			<section class="banner has-cover js-section" data-nav-id="1">
				<div class="wrap banner__wrap">
					<div class="banner__container">
						<h1 class="banner__title">Dobro došli u svet unikatnih lampi</h1>
						<h2 class="banner__subheading">Duško Design obične stvari pretvara u nešto neobično. Pretvara ih u umetnost.</h2>
						<button class="banner__btn js-banner-btn" data-nav-for="3">Pogledajte ponudu</button>
					</div>
				</div>
				<div class="banner__light-holder">
					<button class="banner__switch js-switch-btn">
						<img class="banner__img-light" src="assets/1.png" alt="Light" />
						<img class="banner__img-dark" src="assets/1dark.png" alt="Dark" />
					</button>
					<span class="banner__arrow"></span>
					<span class="banner__click">Click me</span>
				</div>
			</section>
			<section class="video-section js-section js-video-section">
				<h2 class="sr-only">Video section</h2>
				<div class="video-section__wrap">
					<video class="video-section__holder" autoplay muted loop>
						<source src="assets/video.mp4" type="video/mp4" />
					</video>
				</div>
				<!-- <div class="wrap">
					<div class="video-section__container">
						<iframe class="video-section__iframe" src="https://www.youtube.com/embed/6NdWrZ77YO4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				</div> -->
			</section>
			<section class="about js-section js-about-section" data-nav-id="2">
				<div class="wrap wrap--small">
					<div class="about__row">
						<div class="about__holder">
							<h2 class="about__heading title">O nama</h2>
							<p class="about__text">Lorem ipsum dolor sit amet consectetur. Condimentum pretium in fermentum in imperdiet feugiat lacus et. Eget in orci ornare ut sed venenatis suspendisse. Vel orci id aliquam a nulla volutpat fermentum. Senectus nibh morbi libero leo et tristique proin vehicula elit. Lorem ipsum dolor sit amet consectetur. Condimentum pretium in fermentum in imperdiet feugiat lacus et. Eget in orci ornare ut sed venenatis suspendisse.</p>
						</div>
						<div class="about__img-holder">
							<img src="assets/2dd.jpg" alt="" class="about__image" />
						</div>
					</div>
				</div>
			</section>
			<section class="products js-products js-section js-products-section" id="products" data-nav-id="3">
				<div class="wrap wrap--small">
					<h2 class="products__title title">Proizvodi</h2>
					<div class="products__container">
						<div class="swiper products__swiper">
							<!-- Additional required wrapper -->
							<div class="swiper-wrapper products__wrapper">
								<!-- Slides -->
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/3dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="products__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/4dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/5dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/6dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/7dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/11.png" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/8dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/9dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/10dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/4dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
								<div class="swiper-slide products__slide js-slide">
									<div class="products__item js-item">
										<button type="button" class="products__button js-products-button">
											<span class="sr-only">Product item</span>
										</button>
										<div class="products__img-holder">
											<img src="assets/2dd.jpg" alt="image" class="products__image js-img" />
										</div>
										<div class="produstc__info">
											<h3 class="products__subheading"><span class="products__num js-number"></span>Theano</h3>
											<span class="products__price">12.500,00 RSD</span>
										</div>
									</div>
								</div>
							</div>
							<!-- If we need pagination -->
							<div class="swiper-pagination products__pagination"></div>

							<!-- If we need navigation buttons -->
							<div class="products__btn-holder">
								<button type="button" class="swiper-button-prev products__btn products__btn--left"></button>
								<button type="button" class="swiper-button-next products__btn products__btn--right"></button>
							</div>
						</div>
					</div>
					<div class="products__popup-overlay js-overlay"></div>
					<div class="products__popup-holder js-popup-holder js-target">
						<img src="assets/2dd.jpg" alt="" class="products__popup-image js-popup-image" />
						<button type="button" class="products__popup-close js-close-popup">
							<img class="products__close-icon" src="assets/close.png" alt="Close icon" />
						</button>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer js-footer js-section" data-nav-id="4">
			<div class="footer__container">
				<div class="wrap wrap--small">
					<div class="footer__top">
						<div class="footer__img-holder">
							<img src="assets/11.png" alt="Lamp" class="footer__image js-footer-img" />
						</div>
						<div class="footer__info">
							<div class="footer__contact">
								<div class="footer__row">
									<h3 class="footer__subheading">Kontakt</h3>
									<div class="footer__icons">
										<a href="https://www.instagram.com/dusko_design/" class="footer__icon">
											<img class="footer__icon-img" src="assets/Instagram.png" alt="instagram icon" />
										</a>
										<a href="https://www.facebook.com/duskodesign/" class="footer__icon">
											<img class="footer__icon-img" src="assets/Facebook.png" alt="facebook icon" />
										</a>
										<a href="javascript:;" class="footer__icon">
											<img class="footer__icon-img" src="assets/YouTube.png" alt="youtube icon" />
										</a>
										<a href="mailto:gostovicd@yahoo.com" class="footer__icon">
											<img class="footer__icon-img" src="assets/letter.png" alt="letter icon" />
										</a>
									</div>
								</div>
								<div class="footer__row">
									<h3 class="footer__subheading">Telefon</h3>
									<a class="footer__link" href="tel:+38163495114">+38163495114</a>
								</div>
								<div class="footer__row">
									<h3 class="footer__subheading">Adresa</h3>
									<span class="footer__adress">Olge Petrov 16, <br />21400 Bačka Palanka</span>
								</div>
								<div class="footer__row">
									<h3 class="footer__subheading">Email</h3>
									<a class="footer__link" href="mailto:gostovicd@yahoo.com">gostovicd@yahoo.com</a>
								</div>
							</div>
							<div class="footer__logo-holder">
								<a class="footer__logo-link footer__logo-link--light" href="javascript:;">
									<img class="footer__logo" src="assets/logo-white.png" alt="logo" />
								</a>
								<a class="footer__logo-link footer__logo-link--dark" href="javascript:;">
									<img class="footer__logo" src="assets/logo.png" alt="logo" />
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__bottom">
					<div class="wrap wrap--small footer__wrap">
						<span class="footer__span">© Duško Design 2023</span>
					</div>
				</div>
			</div>
		</footer>
		<script type="module" src="./js/main.js"></script>
	</body>
</html>
