// ========================================
// layout
// ========================================

.wrap {
	padding: 0 20px;
	max-width: 1240px;
	margin: 0 auto;
	width: 100%;
	@include tablet {
		padding: 0 50px;
	}
}
.wrap--small {
	padding: 0 20px;
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
	@include tablet {
		padding: 0 50px;
	}
}
html,
body {
	-webkit-scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
}
.title {
	color: $white;
	font-weight: 300;
	font-size: 50px;
	line-height: 57px;
	letter-spacing: 0em;
	margin-bottom: 20px;
	padding: 0 25px;
	text-align: center;
	position: relative;
	width: fit-content;
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 0;
		background-color: $primary-light;
		bottom: 0;
		left: 50%;
		transition: $transition-primary;
		border-radius: 5px;
	}
	@include hover {
		color: $primary-light;
		&::after {
			left: 0;
			width: 100%;
		}
	}
	@include tablet {
		font-size: 40px;
		line-height: 46px;
	}
	@include phone {
		font-size: 32px;
		line-height: 37px;
	}
}

.main--light {
	.banner {
		background-image: url('../../assets/13.jpg');
	}
	.banner__container {
		color: $primary-dark;
	}
	.banner__btn {
		background-color: $beige-light;
		color: $primary-dark;
		@include hover {
			background-color: $beige-dark;
			color: $primary-light;
		}
	}
	.banner__switch {
		filter: invert(1) saturate(0) drop-shadow(2px 4px 6px black);
	}
	.banner__arrow {
		background-color: $primary-dark;
		&::before,
		&::after {
			background-color: $primary-dark;
		}
	}
	.banner__click {
		color: $primary-dark;
	}
	.title {
		color: $primary-dark;
		&::after {
			background-color: $primary-dark;
		}
	}
	.video-section {
		background-color: $primary-light;
	}
	.about {
		background: $gradient-light-top;
		.about__text {
			color: $primary-dark;
		}
	}
	.products {
		background: $gradient-light-bottom;
		.products__item {
			background-color: $beige-light;
			color: $primary-dark;
			filter: drop-shadow(0px 4px 4px rgba($primary-dark, 0.45));
			@include hover {
				filter: drop-shadow(0px 7px 7px rgba($primary-dark, 0.65));
			}
		}
		.products__pagination {
			.swiper-pagination-bullet {
				background: rgba($primary-dark, 1);
			}
			.swiper-pagination-bullet-active {
				background: $primary-dark;
			}
		}
		.products__btn {
			color: $primary-dark;
		}
	}
}
