// ========================================
// utilities
// ========================================

.hover-default {
	@include animation {
		transition: $transition-primary;
		transition-property: opacity;
	}

	@include hover {
		opacity: 0.6;
	}
}

.sr-only {
	@include hidden;
}

.has-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
